@model MedOrganizer.Models.Medico

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>
@* Id, Nome, Crm, Celular, Email, ValorConsulta, Especialidade, Anotacoes *@
<div>
    <h4>Medicamento</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nome)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nome)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Crm)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Crm)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Celular)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Celular)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ValorConsulta)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ValorConsulta)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Especialidade)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Especialidade)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Anotacoes)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Anotacoes)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
